[Desktop Entry]
Type=Background Image
Name=Melody

X-File1=/usr/share/themes/devel/backgrounds/wallpaper1.png
X-File2=/usr/share/themes/devel/backgrounds/wallpaper2.png
X-File3=/usr/share/themes/devel/backgrounds/wallpaper3.png
X-File4=/usr/share/themes/devel/backgrounds/wallpaper4.png

X-Order=01
