[Colors]

DefaultTextColor=#ffffff
SecondaryTextColor=#bababa
ActiveTextColor=#b7eb3a
DisabledTextColor=#8e8e8e
PaintedTextColor=#000000

ReversedTextColor=#141414
ReversedSecondaryTextColor=#707070
ReversedActiveTextColor=#89c200
ReversedDisabledTextColor=#949494
ReversedPaintedTextColor=#ffffff

DefaultBackgroundColor=#181818
DarkerBackgroundColor=#101010
ReversedBackgroundColor=#ffffff
SelectionColor=#68e000
ReversedSelectionColor=#d0f868

ContentBackgroundColor=#000000
ContentFrameColor=#000000
ContentSelectionColor=#ffffff

TitleTextColor=#ffffff
ButtonTextColor=#ffffff
ButtonTextPressedColor=#ffffff
ButtonTextDisabledColor=#8c8c8c

AccentColor1=#99ff41
AccentColor2=#3c8000
AccentColor3=#449000
AttentionColor=#ff1919

NotificationBackgroundColor=#589cf8
NotificationTextColor=#010b18
NotificationSecondaryTextColor=#03234a
